.home {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  max-height: 800px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.option-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.option-toggle input[type="radio"] {
  display: none; 
}

.option-toggle label {
  margin: 0 15px;
  padding: 10px 20px;
  background-color: #ffffff; 
  border: 2px solid #ccc;
  border-radius: 20px; 
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-toggle input[type="radio"]:checked + label {
  background-color: #007bff; 
  color: white;
  border-color: #007bff;
}

.option-toggle label:hover {
  background-color: #e6e6e6; /* Light grey on hover */
}

.option-toggle label + input[type="radio"] + label {
  margin-left: 10px;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1;
  max-width: 33%;
  margin: 0 10px;
}

#blueTeam, #redTeam, #greenTeam {
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

#blueTeam {
  color: #0b7ffc;
}

#redTeam {
  color: #fc5649;
}

#greenTeam {
  color: #7ed321;
}

/* not used */
.team-settings {
  padding: 20px;
  border: 2px solid #949494; /* Increased border thickness */
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cecece;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

/* input page */
#blueParameters, #redParameters, #greenParameters {
  padding: 20px;
  border: 1px solid #949494;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cecece;
  margin-bottom: 20px;
}

#blueParameters {
  border-left: 4px solid #0b7ffc;
}

#redParameters {
  border-left: 4px solid #fc5649;
}

#greenParameters {
  border-left: 4px solid #7ed321;
}

.select-parameter {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: left;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.submit-button {
  margin: auto;
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.accent {
  accent-color: red;
}

#game-view {
  max-width: 32%;
}

#graph-view {
  max-width: 64%;
  margin-left: 10px;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.file-upload-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-bottom: 15px;
  gap: 10px;
}

.file-upload-row label {
  min-width: 200px;
  text-align: right;
  margin-right: 20px;
}

.file-upload-row input[type="file"] {
  flex-grow: 1;
}

.error-container {
  margin-top: 20px;
  color: red;
}

.error-message {
  margin-bottom: 5px;
}

#agents {
  padding: 10px 25px 15px 25px;
  margin: 40px;
  border: 1px solid #949494;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cecece;
}

#agents p {
  text-align: left;
}

#Message {
    text-align: center;
    border: 1px solid #949494;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #cecece;
}

#errors {
  margin: 0.5em;
  font-size: 0.8em;
  color: #ff0000;
}

/* custom ending conditions styles */
.custom-conditions {
  padding: 20px;
  border: 1px solid #949494;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cecece;
  margin-bottom: 20px;
  border-left: 4px solid #585858;
}

.condition-heading {
    color: #585858;
    text-align: left;
    margin-bottom: 10px;
}

.condition-box {
    margin-left: 10px;
}

.condition-accent {
    accent-color: #585858;
}

.hidden-input {
  display: none; 
}

.custom-upload-btn-blue {
  background-color: #007bff; 
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-upload-btn-blue:hover {
  background-color: #003e80; 
}

.custom-upload-btn-red {
  background-color: #ff0000; 
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-upload-btn-red:hover {
  background-color: #a71d2a; 
}

.custom-upload-btn-grey {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-upload-btn-grey:hover {
  background-color: #5a6268;
}


#file-upload-blue-name,
#file-upload-red-name,
#file-upload-settings-name,
#file-upload-attributes-name,
#file-upload-connections-name,
#file-upload-name {
  margin-left: 8px;
  font-style: italic;
  color: #666;
}

/* Styled Select Container */
.styled-select {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.styled-select select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #949494;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px #cecece;
  appearance: none; /* Remove default dropdown arrow */
  cursor: pointer;
  color: #333;
  font-size: 1rem;
}

.styled-select:after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #777;
}

.styled-select select:focus {
  outline: none;
  border-color: #007bff; 
}

.styled-select option {
  padding: 5px 10px;
  color: #333;
}
