.home {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .option-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .option-toggle label {
    margin: 0 10px;
  }
  
  .input-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
  }
  
  .file-upload {
    margin-bottom: 20px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  #redTeam {
    font-weight: bold;
    color: #fc5649;
    text-align: left;
  }

  #blueTeam {
    font-weight: bold;
    color: #0b7ffc;
    text-align: left;
  }

  #agents {
    padding: 10px 25px 15px 25px;
    margin: 40px;
    border: 1px solid #949494;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #cecece;
  }

  #agents p {
    text-align: left;
  }

  .parameters {
    text-align: left;
  }

  .select-parameter {
    font-weight: bold;
    margin: 1em;
    text-align: left;
  }

  #blueParameters {
    border-left: 2px solid #0b7ffc;
  }

  #redParameters {
    border-left: 2px solid #fc5649;
  }

  .flex-container {
    display: flex;
  }

  .flex-child {
    flex: 1;
  }  

  .flex-child:first-child {
    margin-right: 20px;
  } 

  input[type="range"] {
    width: 100%;
  }

  .accent {
    accent-color: red;
  }

  #game-view {
    max-width: 25%;
  }

  #graph-view {
    max-width: 50%;
  }

  
