openaiVenv/
.github/
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
bin/
include/
lib/
lib64/
local/
scripts/
pyvenv.cfg
.venv/
pip-selfcheck.json
node_modules/
excel_api/__pycache__/